/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; line-height: 1.40; color: #666; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #3399FF; color: #fff; text-shadow: none; }
::selection { background: #3399FF; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #5FADD4; }
a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; color: #006081;}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 70%; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Geoff Moore
   ========================================================================== */

@font-face {
    font-family: 'Museo700Regular';
    src: url('museo-700-webfont.eot');
    src: url('museo-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo-700-webfont.woff') format('woff'),
         url('museo-700-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500Regular';
    src: url('museo-500-webfont.eot');
    src: url('museo-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo-500-webfont.woff') format('woff'),
         url('museo-500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300Regular';
    src: url('museo300-regular-webfont.eot');
    src: url('museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo300-regular-webfont.woff') format('woff'),
         url('museo300-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* Typography */
h1, h2, h3, h4 {
	font-family: 'Museo700Regular', Arial;
	font-weight: 500;
	color: #2a4c5a;
}

.hp h1 {
	font-size: 2.917em;

}

h1 {
	font-size: 1.917em;
	margin-bottom: 15px;
}

h2 {
	font-size:1.667em;
}

h3 {
	font-size: 1.333em;
	color: #006081;
	font-family: 'Museo500Regular', Arial;
}

aside h1,
aside h2,
aside h3,
aside h4,
aside h6 {
/*	font-size:1.667em*/
  width: 228px;
}

nav a {
	font-family: 'Museo500Regular', Arial;
	color: #006081;
	font-size: 1.250em;
}

.feature p {
	font-family: 'Museo300Regular', Arial;
	font-size: 1.250em;
	color: #2a4c5a;
}

.hp article header + p {
	font-size: 1.167em;
}

article header + p,
p.first {
	font-family: Arial;
	color: #006081;
	font-size:1.333em
	line-height: 1.2em;
}

.sub article header + p,
.sub article p.first {
	font-size:1.333em
}

aside a.btn, a.ods-btn-large {
	font-family: 'Museo500Regular', Arial;
	color: #fff;
	font-size: 1.417em;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px 1px #999;
	filter: dropshadow(color=#999, offx=0, offy=0);
}

.accordion .question a {
	font-family: 'Museo500Regular', Arial;
	font-size: 1.250em;
	color: #006081;
	text-decoration: none;
}


/* Layout */
body{
	font-family:Arial, sans-serif;
	/*text-align: center;*/
	background: #116080 url(../img/body-bg.png) repeat-x 0 0;
}

.wrapper {
	position:relative;
	width: 974px;
	margin: 0 auto;
	text-align: left;
}

.ods-container {
	position:relative;
	width: 974px;
	background: #f1f1f1;
	padding-bottom:10px;
}

.branding {
	position:relative;
	height: 97px;
	background: url(../img/branding-bg.png) repeat 0 0;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	margin-bottom:10px;
}

.content-container {
	padding: 10px;
	width: 934px;
	margin: 0 auto;
	border: 1px solid #dee9f0;
	background: #fff;
	margin-bottom: 10px;
}

.content {
	padding: 30px;
}

/* Home Page Content Columns */
.column {
	width: 290px;
	float:left;
	margin-right: 30px;
}

.column-3 {
	width: 229px;
	margin-right: 0;
}

/* Non Home Page Layout */
.sub article {
	border-right: 1px solid #CCCCCC;
    float: left;
    padding-right: 40px;
    width: 560px;
}

.sub aside {
	float: right;
	width: 228px;
	text-align: center;
}

aside ul {
	padding:0 0 0 20px;
}

.sub aside li {
	text-align: left;
}


/* Branding */
#ods-logo {
	position: absolute;
	top: 0;
	left: 10px;
	width: 176px;
	height: 88px;
	background: url(../img/odslogo_88.png) no-repeat 0 0;
}

#openlink-software {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 150px;
	height: 88px;
	background: url(../img/openlink-logo.png) no-repeat 0 0;
}

/* HP - Feature */
.hp .navigation-container {
	position: relative;
	min-height: 331px;
	background: url(../img/ods-draft-title-2.png) no-repeat 5px 0;
}
.hp .feature {
	padding: 15px 60px 0 500px;
}

.feature h2 {
	font-size: 1.750em;
}


/* Navigation */
.sub .navigation-container {
	padding-bottom:15px;
}

nav {
	position: relative;
	height: 38px;
}

nav ul {
	position: absolute;
	top: 0;
	right: 10px;
	background: #fcfcfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfd 0%, #b4c2ca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfd), color-stop(100%,#b4c2ca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfd 0%,#b4c2ca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfd 0%,#b4c2ca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfd 0%,#b4c2ca 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfd 0%,#b4c2ca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfd', endColorstr='#b4c2ca',GradientType=0 ); /* IE6-9 */
}

nav li {
	position:relative;
	float: left;
	height: 38px;
	line-height: 38px;
}

nav a {
	display: block;
	padding: 0 8px;
	text-decoration: none;
}
nav a:hover {
	color: #5FADD4;
}

nav a.active {
	position:relative;
	top:-10px;
	height:56px;
	line-height: 58px;
	color: #fff;
	background: #116080 url(../img/nav-active-bg.png) repeat-x 0 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Footer */
footer.ods-container {
	background: none;
	color: #fff;
	padding: 10px 0;
}

.links {
	width: 70%;
	float: left;
}

.social {
	width: 30%;
	float: right;
}

footer.ods-container ul {
	list-style-type: none;
	margin:0 0 0 -10px;
	padding:0;
}
footer.ods-container li {
	float: left;
	display: inline;
	margin-left: 10px;
}
footer .social li {
	float: right;
}

footer.ods-container p {
	display: block;
	clear: both;
	font-size: 0.833em;
}

footer.ods-container a {
	color: #fff;
	text-decoration: none;
	font-size: 0.917em;
}


/* Misc Page Items */

/* Accordian */
.accordion {
	margin: 0;
	padding:0;
}

.accordion li {
	 border-top: 1px solid #ccc;
	 padding: 20px 0;
	 list-style-image: url(../img/list-bullet.png);
	 list-style-position: inside;
}
.accordion li:last-of-type {
	border-bottom: 1px solid #ccc;
}

.accordion .answer {
	border-top: 0;
    font-size: 1em;;
}
.accordion .answer:last-of-type {
	border-top: 1px solid white;
    position: relative;
    top: -1px;
}

.box {
	position:relative;
	margin-bottom: 20px;
}

.box a {
	margin: 0 auto;
}
.video {
	width: 225px;
	position:relative;
	background: #116080;
	border:2px solid #fff;
	height:136px;
	z-index:1;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(100, 100, 100, 0.6);
	box-shadow: 5px 5px 5px 1px rgba(100, 100, 100, 0.6);
	background-clip: padding-box !important;
}

.video a {
	width: 166px;
	height:29px;
	top:55px;
	line-height: 29px;
	text-indent: 10px;
	text-align: left;
	border: #168dbf;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(5, 5, 5, 0.5);
	box-shadow: 0 1px 5px 1px rgba(5, 5, 5, 0.5);
}

.video span {
	display: block;
	width: 100%;
	background: url(../img/arrow.png) no-repeat 140px center;
}

/* Links that need to display like a button */
.ods-btn-large {
	position:relative;
	display:block;
	width: 228px;
	height: 52px;
	line-height: 52px;
	border: 1px solid #97b2c3;
	margin-top:20px;
}

/* btn Colour (light Blue) */
.blue {
	background: #a2d4f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #a2d4f8 0%, #5aa5d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2d4f8), color-stop(100%,#5aa5d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a2d4f8 0%,#5aa5d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a2d4f8 0%,#5aa5d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a2d4f8 0%,#5aa5d9 100%); /* IE10+ */
	background: linear-gradient(top,  #a2d4f8 0%,#5aa5d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d4f8', endColorstr='#5aa5d9',GradientType=0 ); /* IE6-9 */
}
/* btn Colour (light Blue hover state) */
.blue:hover {
	background: #c6dff4; /* Old browsers */
	background: -moz-linear-gradient(top, #c6dff4 0%, #84c4ec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6dff4), color-stop(100%,#84c4ec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c6dff4 0%,#84c4ec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c6dff4 0%,#84c4ec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c6dff4 0%,#84c4ec 100%); /* IE10+ */
	background: linear-gradient(top, #c6dff4 0%,#84c4ec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dff4', endColorstr='#84c4ec',GradientType=0 ); /* IE6-9 */
}

/* dark colour / flat button colour which fills to the width and height of the button */
.dark-blue {
	background-color: #2c4c59;
}
.dark-blue:hover {
	background: #168dbf;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* Creates uniform Box Shadow */
.bs {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(34, 92, 121, 0.7);
	box-shadow: 0px 0px 5px 3px rgba(34, 92, 121, 0.7);
}

/* Creates uniform 5px rounded corners */
.rc {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Fix Chrome and Safari text-shadow rendering issues */
.ts {text-shadow: 0 0 0 transparent, -2px 2px 2px #333;}


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* ==============================================================================
   Additional Styles
   =========================================================================== */
.page-header {
   border-top: 1px solid #ccc;

}

.rssFeed h4 {
  font-size: 0.8em;
}

.rssFeed {
  margin: 0;
}

.rssBody {
  border: none;
}

.rssRow {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.rssRow div {
  margin: 0;
}

.odsloginMethodTitle {
  font-family: 'Museo700Regular', Arial;
}

.odsLoginBar {
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.minigravatar {
  height: 16px;
  width: 16px;
  display: inline;
  float: left;
  margin-right: 5px;
}

.odsOnlineAccount {
  display: table;
}
.odsOnlineAccountCell {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
}

#ods-profile-box {
  position: absolute;
  top: 0px;
  right: 20px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  background-color: #116080;
  color: white;
  padding: 2px 10px;

}
a.profileBoxLink {
  color: white;
}
a.profileBoxLink:hover {
  color: white;
  text-decoration: none;
}

/* Bootstrap + jQueryUI overrides for modal resize
 */
.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}

li {
  list-style-position: inside;
}

/* Try to match to Bootstrap buttons */
keygen {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;

  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
}

.center {
  text-align: center;
}

.navigation-wrapper.affix {
  position: fixed;
  top: 0;
  width: 974px;
  background-color: #F1F1F1;
  z-index: 1020;
}

.hp .navigation-wrapper.affix {
  height: 53px;
}
.sub .navigation-wrapper.affix {
  height: 63px;
}

.sub .navigation-wrapper.affix .fake-content-top {
  background-color: white;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #dee9f0;
  border-left: 1px solid #dee9f0;
  border-right: 1px solid #dee9f0;
  height: 10px;
  width: 954px;
  margin: 15px 9px 0 9px;
}

.hp .navigation-wrapper.affix .fake-content-top {
  background-color: #F1F1F1;
  width: 974px;
  height: 5px;
}
