/*
 * Main css file containing all custom css classes and modifications which are
 * not part of Bootstrap or jQuery but only belong to ODS.
 */

html {
  height:100%;
}

/* 60px to make the bootstrap container go all the way to the bottom of the topbar */
body {
    margin: 0;
    height:100%;
}

#navfooter {
    height: 128px;
    background-color:#049cdb;
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom */
}

#pageContainer {
  position:relative; /* needed for footer positioning*/
  margin:0 auto; /* center, not in IE5 */
  width:100%;
  
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}

#mainContent {
  padding-top: 65px;
  padding-bottom: 128px;
}

/* less spacing between booptstrap form rows */
.form-horizontal .control-group {
    margin-bottom: 10px;
}

/* rounded corners on any element. */
.rounded {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.gravatar {
    height: 22px;
    float:left;
    display:inline;
    margin: 0px 10px 0px 10px;
}

.footer {
    text-align:right;
}

.navbar-inner {
    background-color:#049cdb;
    background-image:none;
    color:white;
}

#content {
    margin-bottom:20px;
}

.bottom-menu {
    padding:10px 70px 10px 70px;
}

.navbar {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#navheader {
    background-color:white;
    background-repeat:no-repeat;
    height:65px;
}

#header-left {
    background-image:url(../img/banner.png);
    background-repeat:no-repeat;
    height:60px;
}

#header-right {
    background-image:url(../img/banner-right.png);
    background-repeat:no-repeat;
    background-position:right;
    height:60px;
}

header .navbar .container {
    height:60px
}

#main-navigation,
#main-navigation ul {
    height:60px;
}

#main-navigation a {
    height:40px
}

/* MW changes */
.navbar .nav > li > a {
    text-shadow:none;
}

.navbar .nav > li > a:hover {
    text-shadow:none;
    color:white;
    background-color:#049cdb;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    background-color:#049cdb;
}

#main-nav-container {
    padding-left:200px;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-left:-10px;
}

footer a,
footer a:hover {
    color:white;
}

.featureCheck {
    display: list-item;
    font-size: 1.8em;
    list-style: disc inside none;
    text-align: center;
}

.tableRowFeature {
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    background-color: #F5F5F5;
    padding: 6px 20px;
}

.tableSubTitle {
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    padding: 6px 11px;
    font-weight: bold;
    background-color: #EDEDED;
}

.tableFeatureHeader {
  padding: 11px;
  text-align: center;
}

.rssFeed {
  margin: 0 0;
}

.opl-nav-title {
  font-weight: bold;
  font-size: 1.2em;
}
