.odsFormButton {
  height: 30px;
}

.odsDigestLoginInput {
  margin-right: 2px;
  width: 205px;
}

.odsDigestRegisterInput {
  width: 197px;
  margin-right: 2px;

}

form .odsDigestRegisterInput:nth-child(1),
form .odsDigestRegisterInput:nth-child(2) {
  margin-bottom: 2px;
}
#odsDigestRegisterButton {
  width: 84px;
}

.odsloginMethodDiv {
  margin: 10px;
}

.odsloginMethodTitle {
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  padding: 2px 5px;
  margin: 5px 0;
}

input.openIdInput {
  background-image: url("../img/openid-16x16.gif");
  background-repeat: no-repeat;
  background-position: 5px;
  width:340px;
  margin-right:2px;

  padding-left: 26px;
}
