<h2>JavaScript Classes</h2>
<hr/>
<ul class="classList">
  <li><a href="jods.vsp">Overview</a></li>
</ul>
<hr/>
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
		if (thisClass.alias != "_global_") {
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for>
</ul>
<hr/>
